body {
    margin: 0;
    padding: 0;
}

main {
    background-color: #eee1d9;
}

article {
    img {
        width: 150px;
        height: 100px;
    }
}

.superior {
    background-color: #000000;
    padding: 10px;
}

.superior h1 {
    text-align: center;
    font-family: "IBM Plex Serif", serif;
    font-weight: 300;
    font-size: 60px;
}

.smart {
    color: white;
}

.coffee {
    color: #ee6e18;
}

.superior h4 {
    text-align: center;
    font-family: "IBM Plex Serif", serif;
    font-weight: 300;
    font-size: 20px;
    color: white;
    transform: translateY(-40px);
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: black;
    background-color: white;
}

button {
    background-color: #C97C00;
    cursor: pointer;
}

.botaoInicio {
}

.banner img {
    width: 1600px;
    height: 600px;
    margin-left: 0;
}

.ambiente-imagem img {
    width: 400px;
    height: 200px;
}

.instagram-smartcoffee img {
    width: 100px;
    height: 100px;
}

footer {
    background-color: #360303;
    color: #f3e6d7;
}